<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Edit User</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Edit User</h2>

<form th:action="@{/users/update}" th:object="${user}" method="post">
    <!-- Hidden field for ID -->
    <input type="hidden" th:field="*{id}"/>

    <p>
        First Name: <label>
        <input type="text" th:field="*{firstName}" required/>
    </label>
    </p>
    <p>
        Last Name: <label>
        <input type="text" th:field="*{lastName}" required/>
    </label>
    </p>
    <p>
        Email: <label>
        <input type="email" th:field="*{email}" required/>
    </label>
    </p>
    <p>
        <button type="submit">Update</button>
        <a th:href="@{/users}">Cancel</a>
    </p>
</form>
</body>
</html>